:root{
    --primarycolor:#e81d64;
    --primaryfont:"Open Sans", sans-serif ;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: var(--primarycolor);
}
body{
    font-family: var(--primaryfont);
}
.hero_section{
    background-image: url(./../assest/img/bg.jpg);
    background-position: center -40px;
    background-size: cover;
}
.main__color{
    color: var(--primarycolor);
}
<<<<<<< HEAD
.about,
.Portfolio{
    background-image: url(./../assest/img/light_dot.jpg);
}
.Portfolio .nav-tabs .nav-link{
    border: none;
    color: black;
}
.Portfolio .nav-tabs{
    border: none;
}
.Portfolio .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--primarycolor);
=======
.about{
    background-image: url(./../assest/img/light_dot.jpg);
>>>>>>> e065a1243b49f33c71cdb4dce29312c0a43e857f
}