:root{
    --primarycolor:#e81d64;
    --primaryfont:"Open Sans", sans-serif ;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: var(--primarycolor);
}
body{
    font-family: var(--primaryfont);
}
.hero_section{
    background-image: url(./../assest/img/bg.jpg);
    background-position: center ;
    background-size: cover;
}
.main__color{
    color: var(--primarycolor);
}
.about{
    background-image: url(./../assest/img/light_dot.jpg);
}